.page__main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.main__wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.main__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  width: 48%;
}

.main__item:nth-child(odd) {
  margin-right: 25px;
}

.description__title {
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  margin-left: 18px;
  margin-bottom: 20px;
}

.description__subtitle {
  font-size: 8px;
  text-align: left;
  margin-left: 18px;
  margin-bottom: 20px;
}

.description__text {
  font-size: 10px;
  text-align: left;
  margin-left: 18px;
  line-height: 1.5;
}

.main__title {
  padding-top: 35px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 22px;
}

@media screen and (max-width: 1200px) {
  .page__header {
    margin-left: 20px;
    margin-right: 20px;
  }
  .main__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-left: 20px;
  }

  .main__title {
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: bold;
  }
  .main__item {
    width: 100%;
  }
}

.main__description {
  margin-bottom: 25px;
}


@media screen and (max-width: 767px) {
  .main__item {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .main__description {
    margin-bottom: 0;
  }

  .description__title, .description__subtitle {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .description__title {
    margin-top: 20px;
  }

  .description__text {
    display: none;
  }
  .main__image {
    height: 210px;
    width: 200px;
  }

  .page__body {
    margin: 20px;
  }

  .main__title {
    font-size: 15px;
  }
}




