.page__footer{
  background-color: #1f1f21;
}

.footer__wrapper{
  margin: auto;
  color: white;
  width: 650px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer__title {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;

}

.footer__description{
  text-align: center;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-top: 25px;
  padding-bottom: 38px;

}

.icon__img{
  margin: auto;
  display: block;

}

.footer__bottom{
  text-align: center;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-top: 25px;
}