body {
    max-width: 1455px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-image: url(../HW4_IMAGES/rana.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    width: 1455px;
}

.header {
    height: 55px;
    background-color: rgba(0,0,0,0.5);
    display: block;


}

.title {
    display: inline-block;
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 20px;

}
.icon {
    display: inline-block;
    height: 20px;
    width: 60px;
    background: url(../HW4_IMAGES/sprites.png) no-repeat;
}

.icon.icon_first {
    background-position: 0 0;
}

.icon.icon_first:hover {
    background-position: 0 -30px;
}

.icon.icon_second {
    background-position: -130px 0;
}

.icon.icon_second:hover {
    background-position: -130px -30px;
}

.icon.icon_third {
    background-position: -60px 0;
}

.icon.icon_third:hover {
    background-position: -60px -30px;
}

.header:hover .title {
    color: #228f60;
}

.column-right {
    float: right;
    display: inline-block;
    margin-top: 18px;
    margin-right: 60px;
}

.menu {
    display: inline-block;
    color: white;
}

.name {
    display: inline-block;
    font-size: 16px;
    color: white;
}

.distinct {
    color: #228f60;
    text-decoration: underline;
}

.main .distinct {
    padding: 38px 38px 20px 38px;
}
.container {
    position: relative;
}

.main {
    border: 1px solid lightgray;
    border-radius: 15px;
    width: 448px;
    height: 590px;
    background: white;
    position: absolute;
    left: 35%;
    top: 16%;
    display: block;
}

.main .distinct {
    float: right;
    clear: left;
    padding: 40px 38px 15px 38px;
    margin-right: 14px;
}

.color {
    background-color:#228f60;
    display: inline-block;
    color: #228f60;
    padding-bottom: 1px;
}

.highlight {
    font-size: 22px;
    margin-left: 24px;
    margin-top: 39px;
    text-space: 2px;
    display: inline-block;
    color: #2d2e46;
}

.button {
    background-color: #315584;
    height: 43px;
    width: 125px;
    display: inline-block;
    color: white;
    font-size: 18px;
    border-radius: 3px;

}

.logo {
    height: 37px;
    width: 16px;
    display: inline-block;
    background-color: #315584;
    padding: 2px 25px 2px 1px;
    border-top: 1px solid #315584;
}

.button, .logo {
    border: 1px solid #315584;
    border-radius: 2px;
}


.button-red {
    background-color: #cf504c;
    height: 43px;
    width: 105px;
    display: inline-block;
    color: white;
    font-size: 18px;
}

.logo-red {
    height: 37px;
    width: 56px;
    display: inline-block;
    background-color:  #cf504c;
    padding: 2px 2px 2px 1px;

}

.button-red, .logo-red {
    border: 1px solid #cf504c;
    border-radius: 2px;
}



.btn, .logo, .btn-red, .logo-red {
    float: left;
    clear: right;
}

.btn {
    margin-left: 50px;
    }
.logo-red {
    margin-left: 10px;
}

.blank {
    margin-left: 51px;
    margin-top: 70px;
}
.break {
    width: 80%;
    height: 20px;
    display: block;
    margin-bottom: 10px;


}

.name-line {
    width:108%;
    text-align:center;
    border-bottom: 1px solid #aaaaaa;
    line-height: 1px;
    margin:15px 0 25px;
    display: inline-block;
}


.line {
    background: white;
    padding:0 12px;
    color: #2d2e46;
    font-size: 17px;
}

/*.line::before {
    content: "n";
    border-bottom: 2px solid #aaaaaa;
    width: 300px;
    color: white;
}

.line::after {
    content: "n";
    border-bottom: 2px solid #aaaaaa;
    width: 300px;
    color: white;
}

.insert {
    border: 0;
    outline: 0;
    border-bottom: 2px solid dimgray;
    width: 20%;
    display: inline;*/


input[type=text], input[type=password], input[type=email] {
    width: 86%;
    padding: 16px 10px 10px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    color:#cccccc;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
    outline: none;
    color: #2d2e46;
}


input[type=submit] {
    width: 86%;
    background-color: #228f60;
    color: #e3f8f6;
    font-size: 18px;
    padding: 12px 10px;
    margin: 15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.article-text {
    display: inline-block;
    padding: 10px 5px 15px 0;
    font-size: 15px;
    color: grey;
    width: 85%;
}

.small-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 3px;
    text-align: center;
    line-height:0.68em;
    vertical-align: middle;
    margin-right: 5px;
}

.small-box::before {
    content: 'L';
    font-family: Arial, sans-serif;
    font-size: 0em;
    vertical-align: middle;
    transform: scaleX(-1) rotate( -30deg);
    display: inline-block;

}
input:checked + span::before {
    font-size: 1.5em;
    color: #228f60;
    font-weight: bold;
}

input[type=checkbox]{
    display: none;
}
.mark {
    display: inline-block;
    width: 85%;
}

.term {
    display: inline-block;
    padding-left: 5px;
    padding-top: 2px;
    font-size: 15px;
    color: #228f60;
}