section {
    font-family: Verdana, sans-serif;
    text-align: center;
    color: black;
    width: 1280px;
    margin: 0 auto;

}
form {
    padding-top: 50px;
    padding-bottom: 50px;
}
a {
    text-decoration:none;
    color:lightseagreen;
    padding-left: 42px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}
img {
    height: 788px;
    width: 1280px;
}
div {
    background-color: whitesmoke;
    color: black;
    padding-bottom:120px;
}
h1 {
padding-top: 30px;
    padding-bottom: 18px;
    font-size: 24px;
    letter-spacing: 2px;

}
p {
    font-size: 18px;
    padding-left: 38px;
    padding-right: 38px;
    margin-left: 30px;
    margin-right: 30px;
}

button {
    background-color: lightseagreen;
    color: white;
    padding: 18px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;

}
footer {
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;

}