* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif, sans-serif;
}

.header {
    background-image: url(../IMAGE/header_flex.jpeg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.top-line {
    background-color: #232226;
    max-width: 100%;
    height: 80px;
    display: flex;
}

.top-menu {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;

}

.header.picture {
    height: 750px;

}

.header-wrapper {
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.top-menu li {
padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    letter-spacing: 1px;
    align-self: center;

}

.left-icon {
    height: 22px;
    align-self: center;
    padding: 0 20px 0 8px;
}

.icon-top {
    padding: 30px 30px;
    background-color: #333333;
    align-self: center;
}



.title {
    font-weight: bold;
    font-size: 24px;
    padding: 5px;
    align-self: center;
}



.main-name {
    font-size: 25px;
    padding: 30px 20px;
    text-transform: uppercase;

}


.btn-left {
    background-color: #66b75a;
        border: 1px solid #66b75a;
    height: 60px;
    width: 180px;
    margin-right: 10px;
    border-radius: 6px;
}

.btn-right {
    background-color: #31c1d5;
    border: 1px solid #31c1d5;
    height: 60px;
    width: 180px;
    margin-left: 10px;
    border-radius: 6px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.posts {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    color: #50b5ca;
    width: 100%;
    background-color: #ece9e6;
}



.items {
    background-color: #ece9e6;

}

.items .container {
    height: 839px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /*justify-content: flex-start;*/
    width: 70%;

}

.image-title {
    padding: 20px 5px 20px 5px;
    font-size: 14px;
    background-color: white;
    text-align: center;

}


/*.box {
box-sizing: border-box;
    flex: 1;

}*/



.grid-header {
    background-image: url(../IMAGE/header_paralax.jpeg);
    color: white;
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
}


.grid-container {
    display: grid;
align-items: center;
    justify-items: center;
}


.grid-horizontal-images {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid-horizontal-images img {
    width: 100%;
}

.grid-title {
    padding: 40px 40px;
    text-align: center;
    font-size: 40px;
}

.list-decoration {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

hr {
    margin: 40px 0;
    width: 80px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #27c9cc;
}

.decoration-first {
    padding-top: 140px;
}

.decoration-third {
    padding-bottom: 140px;
}
.list-decoration {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}



.list-decoration li {
    padding: 18px 26px;

}

/*.list-decoration li img {
    height: 65px;
    width: 280px;
}*/



.grid-main .posts {
    background-color: white;
}

.grid-items-container {
    /*width: 70%;*/
}

.grid-vertical-images {
    display: grid;
    width: 70%;
    margin: 0 auto;
   /* grid-template-rows: 260px 420px 420px 260px;*/
    grid-template-columns: 1fr 30px 1fr 60px 1fr 30px 1fr;
    grid-row-gap: 30px;
    box-sizing: border-box;
    grid-template-areas: "one one one one one . two"
                        "three three three . four four four"
                        "five five five . six six six"
                        "seven . eight eight eight eight eight";
}


.text {
    width: 100%;
    background-color:  #e6e8eb;;
}


.grid-box1 {
    grid-area: one;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-box1 img {
    height: 100%;
}

.grid-box2 {
    grid-area: two;
width: 100%;
}

.grid-box3 {
    grid-area: three;
    width: 100%;
}


.grid-box4 {
    grid-area: four;
    width: 100%;
}


.grid-box5 {
    grid-area: five;
    width: 100%;
}

.grid-box6 {
    grid-area: six;
    width: 100%;
}

.grid-box7 {
    grid-area: seven;
    width: 100%;

}


.grid-box8 {
    grid-area: eight;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-box8 img {
    height: 100%;
}

.grid-vertical-images img {
    width: 100%;
}



.grid-image-title {
    font-weight: bold;
    font-size: 16px;
    padding: 30px 25px 30px 25px;
    color: #514a56;
    text-align: right;
}

.grid-description {
padding: 0 25px 30px 25px;
    text-align: right;
    font-size: 15px;
    color: #6b6770;
    line-height: 1.6;

}


.footer-line {
    width: 100%;
    height: 100px;
    background-color: #1f1f21;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 60px;

}

.footer-description {
    font-size: 30px;
    font-weight: bolder;
    justify-self: center;
    padding-left: 160px;
}

.copyright {
    margin-right: 10px;
    font-size: 18px;
    padding-left: 20px;
    text-align: right;

}





.description, .grid-image-title {
    background-color: #e6e8eb;
}

/*.box-left, .box-right {
    background-color: #e6e8eb;
}*/