*,
*::after,
*::before {
	box-sizing: border-box;
}

.page__body {
	background-color: white;
	font-family: "Roboto", sans-serif;
	height: 100%;

}

.container {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}


