body {
    background: #111;
    perspective: 500px;
    overflow: hidden;
}

p {
    font-family: Arial, sans-serif;
    font-size: 45px;
    color: #fcd000;
    font-weight: bold;
    width: 900px;
    margin: 0 auto;
    transform: rotateX(30deg);
    animation: movingText 30s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.08,.32,.59,.92)
}

p span {
    display: block;
    text-align: center;
    padding: 25px 0 25px 0;
    width: 100%;
}

@keyframes movingText {
    0%   { transform: rotateX(30deg) translateY(600px); }

    100% { transform: rotateX(30deg) translateY(-500px); }
}