body {
    max-width: 1364px;
    margin: auto;
    font-family: Verdana, sans-serif;
    background-image: url(../HOMEWORK3/HTML3/background_milan.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1364px;
}

.header {
    width: 100%;
    height: 120px;
    margin-top: 20px;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    border: none;
}


.logo {
    display: inline-block;
}

.logo:hover .icon-name {
    background-image: url("logo.png");
}

.logo:hover .title-orange {
    color: orange;
}

.icon-name {
    /*display: inline-block;*/
    width: 46px;
    height: 46px;
    background-image: url("./milan_icon.png");
    float: left;
    margin-right: 5px;
    margin-left: 30px;
}
.icon_image {
    display: inline-block;
    text-align: left;
    height: 60px;
    width: 64px;
    margin-top: 48px;
}
.icon-title {
    font-weight: bold;
    float: left;

    box-sizing: border-box;
    text-align: justify;
}
.title1 {
    font-size: 45px;
}

.title2 {
    font-size: 28px;
}

.contact-form {
    display: inline-block;
    text-decoration: none;
    float: right;
    margin-top: 68px;
    margin-right: 46px;
}
.name {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.contact-item {
    text-align: right;
}

.img {
    float: left;
    width: 28%;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    margin: 28px 33px;
    display: block;
}

.box {
    position: relative;
    width: 100%;
    box-sizing: border-box;

}

.image {
    height: 252px;
    width: 380px;
}


.btn {
    text-align: justify;
    font-size: 0px;
    padding: 28px 42px;
    width: 80%;
    text-decoration: none;
    margin-bottom: 24px;
    display: inline;
}

.box .btn {
    position: absolute;
    top: 84%;
    left: 51%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.box .btn:hover {
    background-color: orangered;
    font-size: 20px;
    color: white;
}
.lable {
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.lable:hover {
    font-size: 24px;
    color: orangered;
    text-decoration: none;
}


.galery {
    display:inline;
    width: 100%;
    text-align: center;
    height: 700px;
}

.subtitle {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color:white;
    display: inline-block;
    padding: 40px 40px;
}

.description {
    font-size: 24px;
    color: white;
    padding: 20px 35px;
}



