/*.container {*/
/*    width: 1280px;*/
/*    margin: 0 auto;*/
/*    background-color: aqua;*/
/*}*/

/*.header {*/
/*    padding: 60px 0;*/
/*    background-color: blue;*/
/*}*/
/*.content {*/
/*    padding: 80px 0;*/
/*    background-color: green;*/
/*}*/

#container {
    max-width: 1280px;
    margin: 0 auto;
    font-family: Verdana, sans-serifs, sans-serif;

}

.title {
    max-width: 100%;
    padding: 50px 0;
    font-size: 60px;
}

a {
    text-decoration: none;
    color:black;
}

span {
    color:lightblue;

}

.block-title {
    width: 100%;
    background-color: rgba(34,67,87,1);
    text-align: center;
    text-decoration: none;
    overflow: auto;
}

input {
    border: none;
    background-color: rgba(34,67,87,1);
    color: white;
    padding: 25px 30px;
    font-size: 19px;
    border: none;
    text-align: center;
}

input:focus {
    background-color: rgba(12,30,63,1);
}

.container-left, .container-right {
    display: inline;

}
.container-left {
    width: 320px;
    height: 350px;
    border: 2px solid dimgray;
    font-size:25px;
display: block;
    text-align: left;
    padding: 60px 30px 40px;
}


.container-right {
   display: inline-block;
    width: 800px;
    height: 882px;
    font-size:20px;
    float:right;

}

.container-left, .container-right {
    display:inline-block;
    margin-top: 50px;
}
img {
    height: 460px;
    width: 500px;
    display: inline-block;
    transition: all 300ms;
}

img::after {
    transition: all 300ms;
}

.image {
    border: 2px solid dimgray;
    text-align: center;
    padding: 50px 146px 50px 146px;
    transition: 300ms;
}

.article-text {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    font-size: 18px;
    text-align: left;
}
li {
    padding: 20px 0;
}

.subtitle {
    margin-left: 20px;
}


.box {
    width: 100%;
    background-color: grey;
    padding-top:30px;
    padding-bottom:30px;
    padding-left:30px;
    text-decoration: none;
    margin-right: 30px;
    overflow: auto;
    display: inline-block;
}

a {
    display: inline-block;
    margin-right: 30px;
    vertical-align: center;
}

a:focus {
    color: blue;
    text-decoration: underline;
}
.Item5 {
    text-align: right;
    padding-right: 20px;
    display: inline-block;
    width: inherit;
}