
.container {
    max-width: 1280px;
    margin: 0 auto;
    font-family: Verdana, sans-serifs, sans-serif;

}

.title {
    max-width: 100%;
    padding: 50px 0;
    font-size: 60px;
}

.distinct {
    color:#52baff;
}

.header li, .footer li {
    display: inline-block;
}

.header li {
    padding: 31px 45px;
    color: white;
    font-size: 18px;
}
.footer li {
    padding: 32px 15px;
    font-size: 18px;
}

.header li a {
    color: white;
    font-size: 18px;
}

.header li:nth-child(2) {
    background: #212c4c;
    text-align: center;
}


.footer li:nth-child(2) {
    text-decoration: underline;
}

.footer li a {
    color: #52baff;
}
.block-title {
    width: 100%;
    background-color: rgba(34,67,87,1);
    text-align: center;
    text-decoration: none;
    height: 80px;
}

.container-left, .container-right {
    display: inline;
}
.container-left {
    width: 320px;
    height: 396px;
    border: 2px solid dimgray;
display: block;
}

.block-left li {
    padding: 30px 30px;
    font-size: 19px;
    color: #3a3e58
}

.block-left li:nth-child(2) {
    background: #cccccc;
    text-align: center;

}

.container-right {
   display: inline-block;
    width: 800px;
    height: 882px;
    font-size:20px;
    float:right;
}

.container-left, .container-right {
    display: inline-block;
    margin-top: 50px;
}
img {
    height: 460px;
    width: 500px;
    display: inline-block;
}

.image {
    border: 2px solid dimgray;
    text-align: center;
    padding: 50px 146px 50px 146px;
}

.article-text {
padding: 10px 20px;
    text-align: left;
    font-size: 18px;
}

.description {
    margin-top: 25px;
}

.box {
    width: 100%;
    background-color: grey;
    height: 80px;
    display: inline-block;
    margin-bottom: 30px;
}

.sign {
    display: inline-block;
    padding-left: 300px;
}

.footer {
    margin-left: 39px;
}