.main__nav {
  display: flex;
  height: 12vh;
  justify-content: center;
  align-items: center;
  color: darkgray;
  background: white;
  margin: 0 auto;
}

.navigation__item:first-child a {
  color: #1eb4ad;
}

.nav__links {
  display: flex;
  justify-content: center;
}

.navigation__item {
  list-style-type: none;
  align-content: center;
}

.navigation__link {
  text-decoration: none;
  padding: 22px;
  color: black;
  text-align: center;
  cursor: pointer;
}

//.navigation__burger {
//  display: none;
//  //padding: 0.5rem;
//  //cursor: pointer;
//}

.line {
  height: 2px;
  width: 24px;
  margin: 0.5rem 0;
  background: white;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

@media screen and (max-width: 1200px) {
  .nav__links {
    width: 100%;
    margin: 0;
  }
}

.main__nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}

.main__nav.show .line2 {
  opacity: 0;
}

.main__nav.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}

.main__nav.show .nav__links {
  transform: translateX(0%);
}

@media screen and (max-width: 1200px) {
  .nav__links {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .main__nav {
    height: 50px;
    width: 50px;
    background: black;
    margin-right: 20px;
    float: right;
    clear: right;
  }

  .navigation__burger {
    display: block;

  }

  .nav__links {
    position: fixed;
    top: 6.5vh;
    right: 0;
    width: 45%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: lightgrey;
    color: white;
    transform: translateX(100%);
    transition: transform 1s ease;
    margin-right: 40px;
  }

  .navigation__item:hover {
    background: darkgrey;

  }
  .navigation__item {
    padding: 22px;
    font-size: 13px;
    width: 100%;

  }
}




