* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serifs, sans-serif;
    width: 1920px;
    min-width: 1200px;
}

.creative {
    background-image: url(../IMAGE/section_header.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 851px;
    background-attachment: fixed;
}

.header-creative {
    height: 126px;
    background: black;
    width: 100%;
    opacity: 0.5;
    width: 100%;
    font-size: 25px;
    display: flex;
    flex-direction: row;
}

.header-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.header-list li {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    letter-spacing: 1px;
    align-self: center;
    padding-top: 53px;
    padding-bottom: 55px;
}

.header-list li:hover {
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
}

.header-list li:first-child {
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
}

.title {
    font-size: 30px;
    padding: 10px;
    align-self: center;
    margin-left: 250px;
}

.hex {
    width: 104px;
    height: 60px;
    background-color: #18cfab;
    border-color: #18cfab;
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid;
    border-color: inherit;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    margin-right: 100px;
    left: 0;
}

.hex i {
    padding-left: 30px;
    font-size: 55px;
    font-weight: bold;

}

.span-distinct-color {
    color: #18cfab;
    font-weight: bold;

}

.creative .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 200px;

}

.wrapper {
    width: 64%;
    margin: 0 auto;
}

.creative-titles {
    margin-top: 130px;
    margin-bottom: 100px;
}

.wrapper-title {
    padding: 25px;
    text-align: center;

}

.wrapper-title:first-child {
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: bold;
}

.wrapper-title:nth-child(2) {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #f9f5f7;
}

.wrapper-title:last-child {
    font-size: 30px;
    opacity: 0.7;
    letter-spacing: 1px;

}



.btn-left {
    background-color: #18cfab;
    border-top: 1px solid #18cfab;
    border-left: 1px solid #18cfab;
    border-right: 1px solid #18cfab;
    height: 65px;
    width: 180px;
    margin-right: 10px;
    border-radius: 8px;
    border-top: 5px solid white;
    outline: none;
}

.btn-right {
    background-color: #00cbf6;
    border-top: 1px solid #00cbf6;
    border-left: 1px solid #00cbf6;
    border-right: 1px solid #00cbf6;
    height: 65px;
    width: 180px;
    margin-left: 10px;
    border-radius: 8px;
    border-top: 5px solid white;
    outline: none;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.services {
    width: 100%;
    margin-bottom: 100px;
}

.services-header-wrapper {
    max-width: 100%;
}

.services-header-block {
    border-top: 1px solid red;
    height: 374px;
    width: 25%;
    display: inline-block;
    margin: 0 auto;
    float: left;
    color: white;
    font-size: 15px;
    text-align: center;
}

.header-block-theme {
    margin-top: 130px;
}

.services-header-block:nth-child(even){
    background: #18cfab;
    border-top: 5px solid white;
}

.services-header-block:nth-child(even) .block-text {
    padding-top: 50px;
}

.services-header-block:nth-child(odd) {
    background: #1c2a33;
    border-top: 5px solid #18cfab;
}
.block-text {
    padding-top: 30px;
}


.services-title {
display: inline-block;
    padding-top: 100px;
    text-align: center;
    font-size: 28px;
    margin-left: 860px;
    letter-spacing: 1px;
    color: dimgrey;

}

.line-block {
    margin-top: 30px;
}

hr {
    margin:  3px 0;
    width: 76px;
margin-left: auto;
    margin-right: auto;
    border: 1px solid  #18cfab;
}

.services-content-wrapper  {
    width: 64%;
    margin: 0 auto;
    margin-top: 60px;
}

.services-list {
margin-top: 30px;
list-style-type: none;
padding: 0;
overflow: hidden;
    display: flex;
    width: 100%;
}

.tab-content {
    display: none;
}
.tab-content.is-open {
    display: block;
}


.services-list li{

    display: inline;
    cursor: pointer;
    position: relative;
    color: dimgrey;
    width: 17%;

}

.services-list li button {
display: block;
    color: dimgrey;
    text-align: center;
    padding: 18px 20px;
    height: 90px;
    width: 100%;
    text-decoration: none;
    background-color: #f8fcfe;
    overflow: hidden;
    outline: none;
    font-size: 16px;
    border: 1px solid lightgray;

}

li button.is-active {
    background: #18cfab;
    color: white;
    border: 1px solid #18cfab;
}


.services-list li::after {
    content: "";
    position: absolute;
    top: -30%;
    right: 36%;
    margin-left: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: #18cfab transparent transparent;
}

.services-main-content {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
}

.services-main-content img {
    border: 1px solid lightsteelblue;
    height: 158px;
    width: 215px;
}
.services-text {
    margin-left: 25px;
}
.services-description {
    text-align: justify;
    color: dimgrey;
    line-height: 1.5;
    font-size: 15px;
}

.work {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../IMAGE/section_background_work.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    background-attachment: fixed;

}

.work-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 196px;
}

.work-titles {
    margin-top: 170px;
    margin-bottom: 70px;
}

.work-titles:nth-child(2) {
    color: dimgrey;
    letter-spacing: 1px;
}

.work-wrapper-title {
    padding: 20px;
    text-align: center;
    color: lightgray;
    letter-spacing: 1px;
}

.work-wrapper-title span {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
}

.work-content-container{
    background-color: #f8fcfe;
}
.work-content-wrapper  {
    width: 64%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.work-title {
    padding-top: 100px;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    color: dimgrey;
}

.work-list {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    margin: 0 auto;
    width: 75%;
    margin-top: 80px;
    display: flex;

}

.work-list li{
    border: 1px solid lightgray;
    display: inline;
    cursor: pointer;
    font-size: 16px;
    color: dimgrey;
width: 100%;
}


.work-list li a {
    display: block;
    color: dimgrey;
    text-align: center;
    padding: 28px 20px;
    text-decoration: none;
}

.work-list li:first-child {
    border-top: 1px solid #18cfab;
    color:#18cfab;
}

.work-list li:first-child a{
    color:#18cfab;
}

.work-list li:hover {
    border-top: 1px solid #18cfab;
}
.work-list li a:hover{
    color:#18cfab;
}

.work-image-galery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 80px;

}

.toggle-work-image {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 80px;


}
.toggle-work-image img {
    height: 217px;
    width: 306px;
}


#content{
    display:none;
}

#content.show{
    display:block;
}

.hide {
    display: none;
}

.work-image-galery img {
    height: 217px;
    width: 306px;
}


.work-box-wrapper {
    height: 217px;
    width: 306px;
    background-color: white;
    text-align: center;
    border-top: 3px solid #18cfab;
}

.work-box-icons {
padding-top: 34px;
    padding-bottom: 20px;
}

.work-box-icons i{
    height: 40px;
    width: 40px;
    padding: 10px;
    border-radius: 50%;
}
.work-box-icons .icon-link{
    border: 1px solid #18cfab;
    color: #18cfab;
    transform: rotate(45deg);
}

.work-box-icons .icon-search{
    background-color: #18cfab;
    color: white;
}

.color {
    color: #18cfab;
    font-size: 20px;
    padding: 15px;
}

.work-box-title {
    color: dimgrey;
    font-size: 18px;
    padding: 7px;
}

.work-button {
    display: inline-block;
    text-align: center;
    margin-left: 500px;
}

.plus {
    margin-right: 6px;
    height: 15px;
    width: 15px;
}

.plus a {
    font-size: 15px;
}


.news-container {
    width: 64%;
    margin: 0 auto;
}

.news-image-galery {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.news-box {
    margin-bottom: 34px;
    margin-top: 34px;
    box-sizing: border-box;
    position: relative;
    display: block;
}

.news-box .news-sign {
    position: absolute;
    top: 11%;
    right: -13%;
    transform: translate(-50%, -50%);
}

.box {
    height: 215px;
    width: 270px;
}

.news-box a {
    text-decoration: none;
}

.news-box img {
    height: 217px;
    width: 270px;
}

.news-sign {
    text-align: center;
    height: 67px;
    width: 68px;
    padding: 10px 10px;
    text-decoration: none;
    border: none;
    background: #203e38;
    color: white;
}

.news-box:hover .news-sign {
    background: #18cfab;
    color: white;
}

.news-box:hover .description-top{
    color: #18cfab ;
}

#sign-active {
    background: #18cfab;
    color: white;
}

#description-active {
    color: #18cfab ;
}

.news-sign p {
    padding: 3px;
}

.news-description {
    background: #f8fcfe;
    text-align: left;
    border-right:1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 75px;
    width: 270px;
    padding-top: 15px;
    padding-left: 15px;
}

.description-top {
    font-size: 18px;
    color: dimgrey;
    font-weight: bold;
}

.description-bottom {
    font-size: 14px;
    color: dimgrey;
    letter-spacing: 1px;
    padding: 5px
}

.description-bottom span {
    padding: 3px;
    font-size: 20px;
}

.adverb {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../IMAGE/section_adverb.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    height: 851px;
    width: 100%;
    background-attachment: fixed;
    margin-bottom: 100px;
}

.adverb-container {
    width: 64%;
    margin: 0 auto;
}

.adverb-container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.adverb-titles {
    margin-top: 80px;
    font-size: 34px;
    padding: 20px;
    letter-spacing: 1px;
    color: #cccccc;
    text-align: center;
}

.icon-brackets img {
    height: 35px;
    width: 55px;
    margin-left: 584px;
    margin-top: 60px;
}

.adverb-wrapper-text {
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: lightgray;
}

.adverb-person {
    margin-top: 30px;
    text-align: center;
}
.adverb-person .name {
    font-size: 22px;
    color: #18cfab;
    font-weight: bold;
    padding: 16px 30px;
}

.adverb-person img {
margin-top: 25px;
    margin-bottom: 25px;
    border: 12px solid rgba(24,226,181,0.3);
    border-radius: 50%;
    height: 145px;
    width: 145px;
}


.carousel {
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 32px;
}

.carousel img {
    height: 65px;
    width: 65px;
    border: 1px solid lightslategray;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-btn {
    display: inline-block;
    border: 1px solid white;
    height: 34px;
    width: 34px;
    background: transparent;
    color: white;
    font-size: 25px;
    padding-bottom: 3px;
outline: none;
}


.carousel-btn:hover {
    background:  #18cfab;
}

.mySlides {display: none}


.dot {
    cursor: pointer;
    height: 60px;
    width: 60px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
}

.active, .dot:hover {
    border: 5px solid #18cfab;
    margin-bottom: 8px;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


