body {
    max-width: 1364px;
    margin: auto;
    font-family: Verdana, sans-serif;
    background-image: url('background_milan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    width: 1364px;
    height: 120px;
    margin-top: 20px;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    border: none;
}

.logo {
    display: inline-block;
    margin-top: 58px;
}

.logo:hover .icon-name {
    background-image: url("logo.png");
}

.logo:hover .title-orange {
    color: orangered;
}

.icon-name {
    /*display: inline-block;*/
    width: 46px;
    height: 46px;
    background-image: url("./milan_icon.png");
    float: left;
    margin-right: 5px;
    margin-left: 30px;
    margin-top: 10px;
}
.icon_image {
    display: inline-block;
    text-align: left;
    height: 60px;
    width: 64px;
    margin-top: 60px;
}
.icon-title {
    font-weight: bold;
    float: left;
    box-sizing: border-box;
    text-align: justify;
    text-decoration: none;
    color: white;
}
.title1 {
    font-size: 30px;
}

.title2 {
    font-size: 20px;
}

.contact-form {
    display: inline-block;
    text-decoration: none;
    float: right;
    margin-top: 68px;
    margin-right: 48px;
}
.name {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.contact-item {
    text-align: right;
}

.img {
    position: relative;
    float: left;
    width: 28%;
    box-sizing: border-box;
    padding: 5px;
    border: none;
    margin: 28px 33px;
    display: block;
}

.box {
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;

}

.image {
    height: 252px;
    width: 380px;
}


.btn {
    text-align: justify;
    padding: 20px 42px;
    width: 78%;
    text-decoration: none;
    margin-bottom: 24px;
    display: inline;
    border: none;
}

.img .btn {
    position: absolute;
    top: 64%;
    left: 51%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.btn:hover {
    background-color: orangered;
    color: white;
}

.lable {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.lable:hover {
    font-size: 24px;
    color: orangered;
    text-decoration: none;
}
p {
    font-size: 12px;
    padding-top: 10px;
}
p:hover {
    font-size: 12px;
}

.price {
    font-size: 24px;
    display: inline-block;
}

.price:hover {
    font-size: 24px;
}


.view-details {
    font-size: 13px;
    display: inline-block;
    float: right;
    padding-top: 6px;
}

.view-details:hover {
    font-size: 13px;
}


.galery {
    width: 1364px;
}

.subtitle {
    width: 100%;
    font-size: 14px;
    text-align: center;
    color:white;
    display: inline-block;
    padding: 40px 40px;
}

.description {
    font-size: 24px;
    color: white;
    padding: 20px 35px;
    text-decoration: none;
}



