* {
 box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: auto;
    background-color: #315584;
}


.body {
    font-family: 'Arimo', sans-serif;
}

.main-table {
    border: 40px solid #315584;
    border-collapse: collapse;
    width: 90%;
    position: relative;
    box-sizing: border-box;
}

.main-table td {
    text-align: center;
}

th {
    vertical-align: center;
}

.lable, .price {
   display: inline-block;
}

th, td {
    border-left: 1px solid #bfc1c1;
    border-right: 1px solid #bfc1c1;
    padding: 25px 15px;
    box-shadow: 3px 0 #d6d8d8;
}

.lable, .price, .details{
    display: inline-block;
}

.details2 {
    font-size: 21px;

}
.details {
    padding-right: 75px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 27px;
}

.price {
    font-size: 60px;
    font-weight: bold;
    color: #44464b;
}


thead tr:first-child th:first-child {
    font-size: 20px;
    color: #44464b;
    font-weight: bold;
    letter-spacing: 1px;
    vertical-align: middle;
    background-color: #fafafa;
}

thead tr:nth-child(2) {
    background-color: #fafafa;
}


.adverb {
    font-size: 32px;
    padding-top: 3px;
}

thead tr:first-child th:nth-child(2) {
    background-color: #1bd921;
    font-size: 23px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

thead tr:first-child th:nth-child(3) {
    background-color: #d9273a;
    font-size: 26px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

thead tr:first-child th:nth-child(4) {
    background-color: #067b89;
    font-size: 23px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}


table tr:first-child td {
    border-top: 0;
}
table tr td:first-child {
    border-left: 0;
}
table tr:last-child td {
    border-bottom: 0;
}
table tr td:last-child {
    border-right: 0;
}

tr {
    border-bottom: 0;
}

tbody tr {
    font-size: 18px;
    color: dimgrey;
    letter-spacing: 1px;
}

tbody tr:nth-child(even) {
    background-color: #dedede;
}

tbody tr:nth-child(odd) {
    background-color:  #f5f2f2;
}

tfoot td {
    padding-top: 35px;
    padding-bottom: 35px;
}

tfoot td .btn {
    font-size: 18px;
    color: white;
    width: 210px;
    height: 46px;
    text-align: center;
    border-radius: 7px;
    letter-spacing: 1px;
}

tfoot td:first-child .btn {
    box-shadow: 0 7px #3d3f41;
    background-color: #5f5e69;
    border-color: #5f5e69;
}


tfoot td:nth-child(2) .btn {
    box-shadow: 0 7px #1bac21;
    background-color: #1bd921;
    border-color: #1bd921;
    }

tfoot td:nth-child(3) .btn {
    box-shadow: 0 7px #b23635;
    background-color: #d9273a;
    border-color: #d9273a;;
}

tfoot td:nth-child(4) .btn {
    box-shadow: 0 7px #2f6c83;
    background-color: #067b89;
    border-color:#067b89 ;
}

tfoot td:first-child {
    background-color: #d9d7d7;
}

tfoot td:nth-child(2) {
    background-color: #f7f5f6;
}

tfoot td:nth-child(3) {
    background-color: #f7f5f6;
}

tfoot td:nth-child(4) {
    background-color: #f7f5f6;
}
i {
    padding: 10px;
    font-size: 26px ;
}



